/* Modo oscuro */
body.dark-mode {
  background-color: #121212;
  color: #f0f6fc;

  /* Submenú y enlaces en modo oscuro */
  .submenu-contact,
  .submenu-proyectos {
    background-color: #333;
  }

  .contacto a,
  .proyectos a {
    color: #f0f6fc;
  }

  /* Estilo de enlaces generales */
  a {
    color: #f0f6fc;
    font-weight: bold;
  }

  h1 {
    color: #E0E0E0;
  }

  h2 {
    color: #B0B0B0;
  }

  p {
    color: #f0f6fc;
  }

}

/* Estilos comunes */
body {
  transition: background-color 0.3s, color 0.3s;
  width: 60%;
  margin: 0 auto;
}

/* Modo claro (por defecto) */
body {
  background-color: #ffffff;
  color: #000000;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
  font-weight: bold;
  color: #000000;
}


.componente{
  margin-bottom: 4rem;
}

/* Estilos del menú */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.hades {
  position: absolute;
  width: 400px;
  height: 500px;
  top: 50%;
  left: 35%;
  z-index: 100;
}


html {
  scroll-behavior: smooth;
}
