/* Modo oscuro */
body.dark-mode {
  background-color: #121212;
  color: #f0f6fc;

  /* Submenú y enlaces en modo oscuro */
  .submenu-contact,
  .submenu-proyectos {
    background-color: #333;
  }

  .contacto a,
  .proyectos a {
    color: #f0f6fc;
  }

  /* Estilo de enlaces generales */
  a {
    color: #f0f6fc;
    font-weight: bold;
  }

  h1 {
    color: #e0e0e0;
  }

  h2 {
    color: #b0b0b0;
  }

  p {
    color: #f0f6fc;
  }
}

.mi-nombre {
  font-size: 50px;
  margin-bottom: 0;
}

.profesion {
  font-size: 35px;
}

/* Estilos comunes */
body {
  transition:
    background-color 0.3s,
    color 0.3s;
}

/* Modo claro (por defecto) */
body {
  background-color: #ffffff;
  color: #000000;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  font-weight: bold;
  color: #000000;
}

.componente {
  margin-bottom: 4rem;
}

/* Estilos del menú */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

html {
  scroll-behavior: smooth;
}

.secciones {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: space-between;
  padding: 0 4rem;
  position: relative;
}

.seccion-dcha {
  width: 50%;
}

.seccion-izq > div {
  position: fixed; /* La sección se mantendrá fija al hacer scroll */
  width: 40%;
  z-index: 10;
  padding-top: 3rem;
}

.seccion-dcha {
  padding-top: 6rem;
}

.seccion-dcha > div {
  width: 100%;
  margin-bottom: 10rem;
}

.texto-perro {
  opacity: 0;
  transition: opacity 1s ease; /* Transición global de opacidad */
}

.texto-perro.mostrar {
  opacity: 1;
}

.texto-perro.ocultar {
  opacity: 0;
}


/* Asegura que el contenido de la derecha se desplace normalmente */
.componente {
  margin-bottom: 20px; /* Espaciado entre los componentes de la sección derecha */
}

.oscuro {
  position: fixed;
  z-index: 1000;
  left: 5%;
  transform: translate(-80%, 0%);
}

.container-scroll {
  position: relative;
}

@media (max-width: 781px) {
  .seccion-izq > div,
  .oscuro {
    position: relative;
  }

  .oscuro{
    transform: none;
  }

  .seccion-izq > div {
    width: 100%;
  }

  .secciones {
    flex-direction: column;
    justify-content: center;
  }

  .seccion-dcha {
    margin: 0;
    padding-top: 0;
    width: 100%;
  }

}
